.panel {
  padding: 30px;
  min-height: 100px;
  background-color: grey;
  &__colors {
    background-color: green;
    min-height: 50px;
  }
  &__color-block {
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
    cursor: pointer;
  }
}