.panel__colors {
  .sketch-picker {
    display: none !important;
  }
}
.color-picker-container {
  &__title {
    text-align: center;
    text-shadow: 2px 2px #fff;
    margin: 0;
  }
  &--active .sketch-picker {
    display: block !important;
    position: absolute;
    top: 0;
    left: 180px;
    z-index: 100;
  }

}
.sketch-picker {
  margin: 0 auto; 
  cursor: pointer;
}
.flexbox-fix:nth-child(3) {
  display: none !important;
}

.chrome-picker {
  margin: 0 auto;
  width: 350px !important;
  cursor: pointer;
}